@charset "UTF-8";
/* Responsive Setup */
@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

@charset "UTF-8";
/* Responsive Setup */

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html, body{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

h1, 
.main,
.copyright{
	width: 90%;
	margin: 1rem auto;
}

img{
	width: 100%;
}

.masthead {
	background-color: #3e2254;
	height: 10rem;
}

body {
  font-weight: 300;
  font-size: 100%;
  font-family: 'Ubuntu', sans-serif;
  line-height: 140%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}

input[name='panel'] {
  display: none;
}

label {
  display: block;
  padding: 0.8em;
  width: 100%;
  height: 2rem;
  background: #666;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1em;
  cursor: pointer;
}

label:hover {
  background: #000;
}

.collapsible {
  display: block;
  padding: 0 1rem;
  width: 100%;
  background: #CCC;
}

input[name='panel'] + .collapsible {
  overflow: hidden;
  height: 0;

  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

input[name='panel']:checked + .collapsible {
  overflow: auto;
  height: 200px; /* needs a numeric value here to keep transition */
}



h1 {
	color:#3e2254;
   left: 10%;
   top:1rem;
}

h2 {
	color:#000;
   left: 40%;
   top:1rem;
}

h3 {
	color:#000;
	font-size:14px;
}

em {
	font-style:italic;
}

strong {
	font-weight:bold;
}

.logo {
	width: 100px;
  margin: 0 auto;
  display: block;
}

.listenbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
	box-shadow:inset 0px 1px 0px 0px #d197fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3e2254), color-stop(1, #3e2254) );
	background:-moz-linear-gradient( center top, #3e2254 5%, #3e2254 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e2254', endColorstr='#3e2254');
	background-color:#3e2254;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #9c33ed;
	display:inline-block;
	color:#ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 2px 0px #7d15cd;
}
.listenbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666), color-stop(1, #666) );
	background:-moz-linear-gradient( center top, #666 5%, #666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#666');
	background-color:#666;
}.listenbutton:active {
	position:relative;
	top:1px;
}

.watchbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
	box-shadow:inset 0px 1px 0px 0px #d197fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3e2254), color-stop(1, #3e2254) );
	background:-moz-linear-gradient( center top, #3e2254 5%, #3e2254 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e2254', endColorstr='#3e2254');
	background-color:#3e2254;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #9c33ed;
	display:inline-block;
	color:#ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 2px 0px #7d15cd;
}
.watchbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666), color-stop(1, #666) );
	background:-moz-linear-gradient( center top, #666 5%, #666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#666');
	background-color:#666;
}.watchbutton:active {
	position:relative;
	top:1px;
}


.sneakpeakbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
	box-shadow:inset 0px 1px 0px 0px #d197fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3e2254), color-stop(1, #3e2254) );
	background:-moz-linear-gradient( center top, #3e2254 5%, #3e2254 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e2254', endColorstr='#3e2254');
	background-color:#3e2254;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #9c33ed;
	display:inline-block;
	color:#ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 2px 0px #7d15cd;
}
.sneakpeakbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666), color-stop(1, #666) );
	background:-moz-linear-gradient( center top, #666 5%, #666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#666');
	background-color:#666;
}.sneakpeakbutton:active {
	position:relative;
	top:1px;
}	

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;

}
/*section-social*/

section{
	padding: 2rem;
	
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
display:block;
}

.social li a,
.social li a:link,
.social li a:visited{
	display:inline-block;
	float:left;
	width: 22px;
	height: 22px;
	margin-right: 1rem;
	text-align:center;
	padding-top: 0.025rem;
	-webkit-border-radius: 30%;
	-moz-border-radius: 30%;
	-ms-border-radius: 30%;
	-o-border-radius: 30%;
	border-radius: 30%;
	
	color:#FFF;
	/*background-color: #222;*/
	
	
	-webkit-box-shadow: inset 0px 0px 0px 40px #222;
	-moz-box-shadow: inset 0px 0px 0px 40px #222;
	-ms-box-shadow: inset 0px 0px 0px 40px #222;
	-o-box-shadow: inset 0px 0px 0px 40px #222;
	box-shadow: inset 0px 0px 0px 40px #222;
}

.social li a:hover,
.social li a:focus,
.social li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px #222;
	-moz-box-shadow: inset 0px 0px 0px 3px #222;
	-ms-box-shadow: inset 0px 0px 0px 3px #222;
	-o-box-shadow: inset 0px 0px 0px 3px #222;
	box-shadow: inset 0px 0px 0px 3px #222;
	color: #222;
}

body {
  font-weight: 300;
  font-size: 100%;
  font-family: 'Ubuntu', sans-serif;
  line-height: 140%;
}

.slideItWrapper {
  position: relative;
}
/*nav-circle*/
.slideIt {
top: 1rem;
  left: 2rem;
  color: red;
  font-weight: bold;
  text-decoration: none;
  background-color: #666;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  position: relative;
}
.slideIt span {
  font-size: 20px;
  left: 6px;
  top: -3px;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  display: block;
  height: 100%;
  width: 100%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  height: 100%;
  left: 0;
  overflow: hidden;
  background-image: url("http://purplerockscissors.com/wp-content/themes/prpl/images/casestudies/bg-controls.png");
  background-size: 150%;
  background-position: 4px 7px;
}
.slideIt span.open {
  background-position: 4px 7px;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.slideIt span.close {
  background-position: -19px 7px;
  opacity: 0;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
.slideIt.active .close {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.slideIt.active .open {
  opacity: 0;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}


/* REQUIRED */
#pageslide {
  /* These styles MUST be included. Do not change. */
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  /* Specify the width of your pageslide here */
  width: 240px;
  /* styles */
  background: #666;
  left: -240px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
#pageslide h3 {
  font-size: 1.8em;
  margin: 0;
  padding: 20px;
  font-weight: 300;
  color: #fff;
}
#pageslide ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#pageslide li a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  line-height: 2.5;
  padding: 0 5rem;
  cursor: pointer;
  text-decoration: none;
}

#pageslide li a:hover {
  background: #000;
}

.close{
  padding-left: 2rem;
  color: #fff;
}

.button{
	width: 30%;
	float:left;
	padding-bottom:3rem;
	}
	
	
.bottom {
	height: 6rem;
	background-color: #3e2254;
	padding: 1.5rem 2%;
}

.bottom p {
	color: #FFF;
	font-size: .75rem;
}

.nav-top{
	display: none;
}


.social{
  float: right;
  margin-top: -2rem;
  width: 160px;
}

.flexslider{
	max-width: 45rem; /*720px*/
	margin: 3rem auto;
}

.flex-caption{
	width:100%;
	position: absolute;
	bottom: 1rem;
	margin: 0;
	padding: 1rem;
	background-color: rgba(255,255,255,0.7);
	text-align:center;
}
	

@media only screen and (min-width: 37.5em){
	
.logo{
  position: relative;
  z-index: 100;
}
.nav-top{
	display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.slideItWrapper,
.pageslide{
	display: none;
}

		
.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
		background-color: #ccc;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
	padding: 1rem;
	text-align:center;
	color: #fff;
	text-decoration: none;
	background-color: #666;
	border-top: 0;
	/* border-width || border-style || border-color */
}

	.nav a:hover,
	.nav a:focus,
	.nav a:active{
		background-color: #333;
	}

	.nav{
		background-color:#666;
		text-align:center;
    margin-left: -2rem;
	}
	
	.nav li{
		display: inline-block;
		float:none;
		margin: 0;
		width:auto;
	}
	
	.nav li.gap{
		margin-right: 9rem;
	}
	
	header{
		overflow: auto;
	}
	

	

}


@media only screen and (min-width: 43.75em){
	
	

.wrapper {
	background-color:#ccc;
	overflow: hidden;
}

.left {
	width: 65.25%;
	float: left;
}

.right {
	width: 34.75%;
	float: right;
}

aside{
	padding: 10rem 5%;
}


article {
	background-color:#fff;
	padding: 1.5rem 3%;
	
}

.box {
	background-color:#ccc;
	padding: 1.5rem 6%;
	margin-bottom: 1.5rem;
}

.box h3 {
	font-size: 1.25rem;
}

.box p {
	font-size:.75rem;
}

.artwork {
	width: 30%;
	margin-right: 5%;
	float:left;
}

.artwork h3 {
	font-size: .75rem;
	line-height:.75rem;
}

.artwork p {
	font-size:.45rem;
}

.artwork:nth-child(3n+3) { /* Every 3rd div will have these proprties */ 
	margin-right: 0;
}

#content1,
#content2,
#content3 {
	padding: 1rem;
	overflow: hidden;
}

footer {
	clear: both;
}
	}